
body {
    margin: 0;
}


.header,
.footer,
.header *,
.footer * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    font-family: "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    background: rgba(30, 30, 30, 0.9);
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

.gmenu-container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.menu > ul .subarrow span {
    background-image: url("../Img/submenuarrow.png");
    background-repeat: no-repeat;
    background-position: 8px 6px;
    -moz-background-size: 17px 12px;
    -webkit-background-size: 17px 12px;
    background-size: 17px 12px;
    height: 17px;
    width: 25px;
    display: inline-block;
}

#bt-des {
    display: block;
}

.sbmleft > ul {
    margin-left: -80px!important;
}

.menu .menu-logo {
    display: inline-block;
    float: left;
}

.menu .menu-logo > img {
    height: 44px;
    margin-top: 5px;
    margin-left: 5px;
    width: auto;
}

.menu-mobile {
    display: none;
    padding: 6px 10px 0px 5px;
    z-index: 30;
    position: relative;
}

.menu-mobile > a > img {
    height: 44px;
    width: auto;
}

.menu .menu-mobile .burgericon {
    padding: 0px 0 0 0;
    margin-top: 3px;
    float: right;
    width: 35px;
    height: 35px;
}

.menu > ul {
    margin: 0;
    width: auto;
    list-style: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    float: right;
    z-index: 30;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    background: #262626;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 0px solid #333;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 0.96em 1.9em;
    display: block;
    color: #aeaeae;
    height: 56px;
}

.menu > ul > li a:first-child:hover {
    color: #b2b2b2;
}

.menu > ul > li a:hover {
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu > ul > li:hover {
    background: #1b1616;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu > ul > li > ul {
    display: none;
    width: 365px;
    background: rgba(28, 23, 23, 0.95);
    border: 1px #3a3636 solid;
    border-top: none;
    padding: 0px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}


.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 50%;
    background: none;
    float: left;
    box-sizing: border-box;
}

.menu > ul > li > ul > li a {
    color: #b2b2b2;
    padding: 0.92em 1em;
    display: block;
    border-bottom: 1px solid #2c2929;
    text-align: center;
    margin-left: 0px;
}
.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 0px 0 0;
    list-style: none;
    box-sizing: border-box;
    height: 100%;
}


.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 0px 0;
    margin: 0;
    font-size: 16px;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
    text-align: left;
    padding: 0.92em 1em 0.92em 2.5em;
}

.menu > ul > li > ul > li > ul > li a:hover {
    background-color: #242424;
}

.menu > ul > li > ul.normal-sub {
    width: 220px;
    left: auto;
    padding: 0px 0px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
    border-bottom: 1px solid #2c2929;
}

.menu > ul > li > ul.normal-sub > li:hover {
    background-color: #242424;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.menu > ul > li > ul.normal-sub > li:last-child {
    border-bottom: 0px solid #a91f1f;
}

.menu > ul > li:last-child > ul.normal-sub > li a {
    text-align: left;
    padding: 0.75em 2.7em;
    line-height: 32px;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 1em;
    text-align: center;
}

.menu > ul > li a .menudlicon01 {
    background-image: url("../Img/menupc.png");
    background-repeat: no-repeat;
    background-position: -3px 1px;
    -moz-background-size: 24px 17px;
    -webkit-background-size: 24px 17px;
    background-size: 24px 17px;
    height: 20px;
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}

.menu > ul > li a .menudlicon02 {
    background-image: url("../Img/menuphone.png");
    background-repeat: no-repeat;
    background-position: -5px 1px;
    -moz-background-size: 28px 20px;
    -webkit-background-size: 28px 20px;
    background-size: 28px 20px;
    height: 20px;
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}

.menu > ul > li > ul > .second-sub {
    border-left: 1px solid #2a2a2a;
    min-height: 392px;
}

.menu > ul > li > ul > li a.menu-spec {
    text-align: left;
    padding: 1em 2.5em;
    width: auto;
    background-color: #1d1d1d;
    cursor: default;
}


.show {
    display: block!important;
}

@media only screen and (min-width: 760px) {
    .menu > ul > li:hover ul {
        display: block;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1170px) {
    .gmenu-container {
        width: 100%;
    }
}

@media only screen and (max-width: 1370px) {
    .gmenu-container {
        width: 100%;
    }
    .menu .menu-logo {
        display: none;
    }
    .menu .menu-mobile {
        display: block;
    }
    .sbmleft > ul {
        margin-left: 0!important;
    }
    .menu > a {
        color: #9d9d9d;
    }
    .menu > ul {
        display: none;
        width: 100%;
    }
    .menu > ul > li.active {
        background-color: rgba(157, 29, 29, 0.89)!important;
    }
    .menu > ul > li {
        width: 100%;
        float: initial;
        display: block;
        border-bottom: 1px solid #333;
    }
    .menu > ul > li:hover {
        background: #262626;
    }
    .menu > ul > li a {
        padding: 1.1em 5%;
        width: 100%;
        display: block;
    }
    .menu > ul > .menu-icon > a {
        background-image: url("../Img/arrowbtm.png");
        background-repeat: no-repeat;
        background-position: 95% center;
        -moz-background-size: 15px 10px;
        -webkit-background-size: 15px 10px;
        background-size: 15px 10px;
    }
    .menu > ul > li > ul {
        position: relative;
        width: 100%;
        border-left: none;
        border-right: none;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul.normal-sub > li {
        border-bottom: 1px solid #383838;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        background: rgb(0, 0, 0);
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu > ul .subarrow span {
        display: none;
    }
    .menu > ul > li > ul > .second-sub {
        background-color: rgb(15, 15, 15);
        min-height: inherit;
    }
    .menu > ul > li > ul > li > a {
        border-bottom: 1px solid #3a3a3a;
        border-top: 1px solid #3a3a3a;
        background-color: #171717;
    }
    .menu > ul > li > ul > li a {
        width: auto;
        margin-left: 0px;
    }
    .menu > ul > li:last-child > ul.normal-sub > li a {
        text-align: center;
        padding: 0.75em 2.7em;
        line-height: 32px;
    }
    .menu > ul > li > ul > li > ul > li a {
        text-align: center;
        padding: 0.92em 0em 0.92em 0em;
    }
    .menu > ul > li > ul > li > ul > li a:hover {
        background-color: #242424;
    }
    .menu > ul > li > ul > li a.menu-spec {
        text-align: center;
    }
}

.footer {
    font-family: "Microsoft JhengHei", sans-serif;
    height: 60px;
    background-color: #1f1f1f;
    border-top: solid #3a3c3f 0px;
    border-bottom: solid #3a3c3f 1px;
    letter-spacing: 0;
}

.footer a {
    color: #e31e25;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    text-decoration: none;
}

.footer .fullc {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.footer .left-copyr {
    height: 60px;
    font-size: 11px;
    display: table;
    overflow: hidden;
    position: relative;
}

.footer #destop_copyr {
    display: block;
}



.footer .left-copyr p {
    color: #a1a1a1;
    font-size: 11px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    margin: 0;
}

.footer .right-fmenu {
    float: right;
}

.footer .right-fmenu ul {
    margin: 0;
    padding: 0;
    float: right;
}

.footer .right-fmenu ul li {
    float: left;
    list-style-type: none;
    line-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
}

.footer .right-fmenu ul li a {
    font-size: 14px;
    color: #a1a1a1;
    text-decoration: none;
    display: block;
}

.footer .right-fmenu ul li a:hover {
    color: #838383;
    text-decoration: none;
}

.footer .right-fmenu ul li.firstbox {
    background-color: #1c1616;
    padding-left: 18px;
    padding-right: 18px;
}

.footer .right-fmenu ul li .regionbox {
    padding: 0px 5px;
    height: 27px;
    font-size: 13px;
    border-radius: 0px;
    color: #a6a6a6;
    background-color: #1f1f1f;
    border: 1px solid #464646;
}



ul.tabs {
	width: 100%;
	height: 32px;
	font: 27px/50px arial, 'Microsoft JhengHei';
	letter-spacing: 2px;
}

ul.tabs li {
	float: left;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	position: relative;
	margin-bottom: 13px;
	border-left: none;
	padding: 0 0 0 3px;
}

ul.tabs li a {
	display: block;
	text-decoration: none;
	color: #8f8f8f;
}

ul.tabs li.tab1-title {
	padding-right: 18px;
	padding: 0 18px 0 45px;
	color : #ffffff;
	background: url(../Img/tab1-title-bg.png) no-repeat;
	background-position-y: -31px;
}


div.tab_container {
	clear: left;
	width: 100%;
	border-top: none;
}

div.tab_container .tab_content h2 {
	margin: 0 0 20px;
}


.hd-panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
