
body {
    margin: 0;
}


.header,
.footer,
.header *,
.footer * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    font-family: "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    background: rgba(30, 30, 30, 0.9);
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

.gmenu-container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.menu > ul .subarrow span {
    background-image: url("../Img/submenuarrow.png");
    background-repeat: no-repeat;
    background-position: 8px 6px;
    -moz-background-size: 17px 12px;
    -webkit-background-size: 17px 12px;
    background-size: 17px 12px;
    height: 17px;
    width: 25px;
    display: inline-block;
}

#bt-des {
    display: block;
}

.sbmleft > ul {
    margin-left: -80px!important;
}

.menu .menu-logo > img {
    height: 44px;
    margin-top: 5px;
    margin-left: 5px;
    width: auto;
}


.menu > ul {
    margin: 0;
    width: auto;
    list-style: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    float: right;
    z-index: 30;
}

.menu > ul > li {
    float: left;
    background: #262626;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 0px solid #333;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 0.96em 1.9em;
    display: block;
    color: #aeaeae;
    height: 56px;
}

.menu > ul > li a:first-child:hover {
    color: #b2b2b2;
}

.menu > ul > li a:hover {
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu > ul > li:hover {
    background: #1b1616;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu > ul > li > ul {
    display: none;
    width: 365px;
    background: rgba(28, 23, 23, 0.95);
    border: 1px #3a3636 solid;
    border-top: none;
    padding: 0px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}


.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 50%;
    background: none;
    float: left;
    box-sizing: border-box;
}

.menu > ul > li > ul > li a {
    color: #b2b2b2;
    padding: 0.92em 1em;
    display: block;
    border-bottom: 1px solid #2c2929;
    text-align: center;
    margin-left: 0px;
}
.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 0px 0 0;
    list-style: none;
    box-sizing: border-box;
    height: 100%;
}


.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 0px 0;
    margin: 0;
    font-size: 16px;
}


.menu > ul > li > ul.normal-sub {
    width: 220px;
    left: auto;
    padding: 0px 0px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
    border-bottom: 1px solid #2c2929;
}

.menu > ul > li > ul.normal-sub > li:hover {
    background-color: #242424;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.menu > ul > li:last-child > ul.normal-sub > li a {
    text-align: left;
    padding: 0.75em 2.7em;
    line-height: 32px;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 1em;
    text-align: center;
}

.menu > ul > li a .menudlicon01 {
    background-image: url("../Img/menupc.png");
    background-repeat: no-repeat;
    background-position: -3px 1px;
    -moz-background-size: 24px 17px;
    -webkit-background-size: 24px 17px;
    background-size: 24px 17px;
    height: 20px;
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}

.menu > ul > li a .menudlicon02 {
    background-image: url("../Img/menuphone.png");
    background-repeat: no-repeat;
    background-position: -5px 1px;
    -moz-background-size: 28px 20px;
    -webkit-background-size: 28px 20px;
    background-size: 28px 20px;
    height: 20px;
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}

.menu > ul > li > ul > .second-sub {
    border-left: 1px solid #2a2a2a;
    min-height: 392px;
}

.menu > ul > li > ul > li a.menu-spec {
    text-align: left;
    padding: 1em 2.5em;
    width: auto;
    background-color: #1d1d1d;
    cursor: default;
}


.show {
    display: block!important;
}

@media only screen and (min-width: 760px) {
    .menu > ul > li:hover ul {
        display: block;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1170px) {
    .gmenu-container {
        width: 100%;
    }
}

@media only screen and (max-width: 1370px) {
    .gmenu-container {
        width: 100%;
    }
    .menu .menu-logo {
        display: none;
    }
    .sbmleft > ul {
        margin-left: 0!important;
    }
    .menu > a {
        color: #9d9d9d;
    }
    .menu > ul {
        display: none;
        width: 100%;
    }
    .menu > ul > li.active {
        background-color: rgba(157, 29, 29, 0.89)!important;
    }
    .menu > ul > li {
        width: 100%;
        float: initial;
        display: block;
        border-bottom: 1px solid #333;
    }
    .menu > ul > li:hover {
        background: #262626;
    }
    .menu > ul > li a {
        padding: 1.1em 5%;
        width: 100%;
        display: block;
    }
    .menu > ul > .menu-icon > a {
        background-image: url("../Img/arrowbtm.png");
        background-repeat: no-repeat;
        background-position: 95% center;
        -moz-background-size: 15px 10px;
        -webkit-background-size: 15px 10px;
        background-size: 15px 10px;
    }
    .menu > ul > li > ul {
        position: relative;
        width: 100%;
        border-left: none;
        border-right: none;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul.normal-sub > li {
        border-bottom: 1px solid #383838;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        background: rgb(0, 0, 0);
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu > ul .subarrow span {
        display: none;
    }

    .menu > ul > li > ul > li > a {
        border-bottom: 1px solid #3a3a3a;
        border-top: 1px solid #3a3a3a;
        background-color: #171717;
    }
    .menu > ul > li > ul > li a {
        width: auto;
        margin-left: 0px;
    }
    .menu > ul > li > ul > li > ul > li a {
        text-align: center;
        padding: 0.92em 0em 0.92em 0em;
    }
    .menu > ul > li > ul > li > ul > li a:hover {
        background-color: #242424;
    }
    .menu > ul > li > ul > li a.menu-spec {
        text-align: center;
    }
}

.footer {
    font-family: "Microsoft JhengHei", sans-serif;
    height: 60px;
    background-color: #1f1f1f;
    border-top: solid #3a3c3f 0px;
    border-bottom: solid #3a3c3f 1px;
    letter-spacing: 0;
}

.footer a {
    color: #e31e25;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    text-decoration: none;
}

.footer .fullc {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.footer .left-copyr {
    height: 60px;
    font-size: 11px;
    display: table;
    overflow: hidden;
    position: relative;
}

.footer #destop_copyr {
    display: block;
}



.footer .left-copyr p {
    color: #a1a1a1;
    font-size: 11px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    margin: 0;
}

.footer .right-fmenu {
    float: right;
}

.footer .right-fmenu ul {
    margin: 0;
    padding: 0;
    float: right;
}

.footer .right-fmenu ul li {
    float: left;
    list-style-type: none;
    line-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
}

.footer .right-fmenu ul li a {
    font-size: 14px;
    color: #a1a1a1;
    text-decoration: none;
    display: block;
}

.footer .right-fmenu ul li a:hover {
    color: #838383;
    text-decoration: none;
}

.footer .right-fmenu ul li.firstbox {
    background-color: #1c1616;
    padding-left: 18px;
    padding-right: 18px;
}

.footer .right-fmenu ul li .regionbox {
    padding: 0px 5px;
    height: 27px;
    font-size: 13px;
    border-radius: 0px;
    color: #a6a6a6;
    background-color: #1f1f1f;
    border: 1px solid #464646;
}



ul.tabs {
	width: 100%;
	height: 32px;
	font: 27px/50px arial, 'Microsoft JhengHei';
	letter-spacing: 2px;
}

ul.tabs li {
	float: left;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	position: relative;
	margin-bottom: 13px;
	border-left: none;
	padding: 0 0 0 3px;
}

ul.tabs li a {
	display: block;
	text-decoration: none;
	color: #8f8f8f;
}

ul.tabs li.tab1-title {
	padding-right: 18px;
	padding: 0 18px 0 45px;
	color : #ffffff;
	background: url(../Img/tab1-title-bg.png) no-repeat;
	background-position-y: -31px;
}


div.tab_container {
	clear: left;
	width: 100%;
	border-top: none;
}

div.tab_container .tab_content h2 {
	margin: 0 0 20px;
}


.hd-panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body,div,
dl,dt,
dd,ul,
ol,li,
h1,h2,
h3,h4,
h5,h6,
pre,form,fieldset,
input,select,
textarea,
p,blockquote,
th,td {
    padding: 0;
    margin: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    font-size: 100%
}


a {
    text-decoration: none
}

html {
    min-width: 1000px
}

body {
    font: 13px/1.6 arial, PMingLiU, \65B0\7D30\660E\9AD4;
    background: #2e2e2e
}

.wrapper {
    overflow: hidden;
    min-width: 1000px
}

.hd {
    height: 350px;
    border-top: 1px solid #B5B7B6;
    background: url(../Img/bg.png) 50% 100% no-repeat
}

.hd-home {
    cursor: pointer;
    height: 261px
}

.hd-panel {
    height: 64px;
    padding: 10px 0;
    margin: 0 6px 0 0;
    background: #00BFFF;
    zoom: 1
}

.hd-panel:after {
    clear: both;
    content: "";
    display: table
}

.hd-panel-wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 0
}

.hd-nav {
    border-right: 1px solid #fff;
    float: left;
    padding: 0 9px 0 0;
    zoom: 1
}

.hd-nav:after {
    clear: both;
    content: "";
    display: table
}

.hd-nav__link {
    float: left;
    margin: 0 15px;
    color: #fff;
    font: 16px/45px arial, 'Microsoft JhengHei';
    padding: 0 0 0 32px;
    background-repeat: no-repeat;
    background-position: 0 50%
}

.hd-nav__link:hover {
    color: #ffd1ce
}

.hd-nav__link-faq {
    background-image: url(../Img/icostar.png)
}

.hd-nav__link-record {
    background-image: url(../Img/icoclock.png)
}

.hd-nav__link-minfo {
    background-image: url(../Img/icopeople.png)
}

.hd-nav__link-account {
    background-image: url(../Img/icoaccount.png)
}

.hd-search {
    *zoom: 1;
    float: left;
    margin: 0 0 0 30px
}

.hd-search:after {
    clear: both;
    content: "";
    display: table
}

.hd-search__title {
    float: left;
    color: #fff;
    font: 16px/45px arial, 'Microsoft JhengHei';
    margin: 0 15px 0 0
}

.hd-search__form {
    float: left;
    *zoom: 1;
    position: relative;
    margin: 6px 0 0
}

.hd-search__form:after {
    clear: both;
    content: "";
    display: table
}

.hd-search__label {
    position: absolute;
    font: 15px/32px arial, 'Microsoft JhengHei';
    left: 13px;
    top: 8px;
    visibility: hidden;
    line-height: 1;
    vertical-align: top;
    color: #bca09f;
    cursor: text
}

.hd-search__label--active {
    visibility: visible
}

.hd-search__input {
    padding: 0 13px;
    width: 132px;
    height: 31px;
    font: 15px/30px arial, 'Microsoft JhengHei';
    border: 0;
    display: block;
    float: left;
    border: 1px solid #000
}

.hd-search__submit {
    cursor: pointer;
    float: left;
    display: block;
    width: 38px;
    border: 0;
    height: 31px;
    background: url(../Img/searchbtn.png) #00FFFF
}

.hd-login {
    float: left;
    color: #fff;
    font: 16px/45px arial, 'Microsoft JhengHei';
    background-repeat: no-repeat;
    background-position: 0 50%;
    text-align: center;
    width: 136px;
    margin: 0 17px
}

a.hd-loginBt {
    width: 136px;
    height: 31px;
    display: block;
    line-height: 31px;
    color: #fff;
    background: #272222;
    border: 1px solid #fff;
    margin: 5px 0
}

a.hd-loginBt:hover {
    color: #eb5a58;
    background: #fff
}



.hd-loginAfter a:hover {
    color: #ffd1ce
}

.main-layout1 {
    width: 1000px;
    margin: 0 auto;
    *zoom: 1
}

.main-layout1:after {
    clear: both;
    content: "";
    display: table
}

.main-layout1-wrap {
    padding: 45px 0 35px;
    border-bottom: 1px solid #373737
}

.main-layout1-l {
    float: left;
    width: 724px;
    margin: 0 46px 0 0
}

.main-layout1-r {
    float: left;
    width: 215px
}

.main-gamesup {
    margin: 0 0 65px;
    *zoom: 1;
    overflow: hidden
}

.main-gamesup__title {
    width: 120px;
    height: 36px;
    background: url(../Img/gsup-title.png);
    margin: 0 0 10px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap
}

.main-gamesup__list {
    *zoom: 1;
    *float: left
}

.main-gamesup__list:after {
    clear: both;
    content: "";
    display: table
}

.main-gamesup__list li {
    float: left;
    width: 167px;
    margin: 0 12px 11px 0;
    background: #272222;
    border: 1px solid #00BFFF
}

.main-gamesup__list li:hover {
    background: #393838
}

.main-gamesup__list a {
    display: block;
    height: 116px
}

.main-gamesup__list-aoa {
    background: url(../Img/icon/icon-aoa.png)
}

.main-gamesup__list-lol {
    background: url(../Img/icon/icon-lol.png)
}

.main-gamesup__list-roe {
    background: url(../Img/icon/icon-roe.png)
}

.main-gamesup__list-poe {
    background: url(../Img/icon/icon-poe.png)
}

.main-serentry {
    *zoom: 1
}

.main-serentry__title {
    width: 120px;
    height: 36px;
    background: url(../Img/service-title.png);
    margin: 0 0 10px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap
}

.main-serentry__list {
    *zoom: 1;
    *float: left
}

.main-serentry__list:after {
    clear: both;
    content: "";
    display: table
}

.main-serentry__list li {
    float: left;
    width: 167px;
    margin: 0 12px 11px 0;
    background: #272222;
    border: 1px solid #00BFFF
}

.main-serentry__list li:hover {
    background: #393838
}

.main-serentry__list a {
    display: block;
    height: 113px
}

.main-serentry__list-acc {
    background: url(../Img/member.png)
}

.main-serentry__list-topup {
    background: url(../Img/sertopup.png)
}




.main-serentry__list-esports {
    background: url(../Img/seresports.png)
}

.main-serentry__list-ban {
    background: url(../Img/ban.png)
}

.main-serentry__list-warning {
    background: url(../Img/warning.png)
}



.main-sertime {
    padding: 15px 0 10px;
    border-bottom: 1px solid #373737;
    margin: 0 0 10px
}

.main-sertime__title {
    font: 20px/1.6 arial, 'Microsoft JhengHei';
    color: #fff;
    display: inline-block;
}

.main-sertime__title {
    font: 20px/1.6 arial, 'Microsoft JhengHei';
    color: #fff;
    display: inline-block;
    margin-right: 15px;
}

.main-sertime__content {
    color: #afafaf;
    font-size: 20px;
    /*letter-spacing:1px*/
}

.main-sertime__content a {
    font-size: 13px;
    color: #b87266;
    letter-spacing: 2px
}

.main-sertime__content a:hover {
    color: #7298d6
}

.main-serwarn {
    padding: 0 0 10px;
    border-bottom: 1px solid #373737;
    margin: 0 0 10px
}

.main-serwarn__btn {
    width: 207px;
    margin: 0 auto
}

.main-serwarn__btn a {
    display: block;
    height: 48px;
    background: url(../Img/warnbtn-ov.png);
    color: #00BFFF;
    font: 22px/50px arial, 'Microsoft JhengHei';
    padding: 0 0 0 49px
}

.main-serwarn__btn a:hover {
    color: #fff;
    background: url(../Img/warnbtn.png);
    text-decoration: none
}

.main-ensure {
    padding: 0 0 10px;
    border-bottom: 1px solid #373737;
    margin: 0 0 20px
}

.main-ensure__btn {
    width: 207px;
    margin: 0 auto
}

.main-ensure__btn a {
    display: block;
    height: 48px;
    background: url(../Img/ensurebtn-ov.png);
    color: #00BFFF;
    font: 22px/50px arial, 'Microsoft JhengHei';
    padding: 0 0 0 49px;
    text-decoration: none
}

.main-ensure__btn a:hover {
    background: url(../Img/ensurebtn.png);
    color: #fff;
    text-decoration: none
}


.main-sercommon {
    padding: 0 0 10px;
    border-bottom: 1px solid #373737;
    margin: 0 0 10px
}

.main-sercommon__title {
    font: 20px/1.6 arial, 'Microsoft JhengHei';
    color: #fff
}

.main-sercommon__list a {
    background: url(../Img/itemdot.png) 7px 50% no-repeat;
    padding: 0 0 0 22px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #afafaf;
    display: block
}

.main-sercommon__list a:hover {
    color: #7298d6
}

a.main-sercommon__list--hot {
    background: url(../Img/itemfire.png) 5px 50% no-repeat;
    color: #fb4349
}

a.main-sercommon__list--hot:hover {
    color: #7298d6
}

.main-sernews {
    margin: 0 0 10px
}

.main-sernews__title {
    font: 20px/1.6 arial, 'Microsoft JhengHei';
    margin: 0 0 5px;
    color: #fff
}

.main-sernews__list li {
    margin: 0 0 15px
}

.main-sernews__list a {
    font-size: 15px;
    letter-spacing: 1px;
    color: #afafaf;
    display: block
}

.main-sernews__list a:hover {
    color: #7298d6
}

a.main-sernews__list-more {
    font-size: 12px;
    color: #00BFFF;
    border-bottom: 1px solid #00BFFF;
    padding: 0 0 1px;
    display: inline
}

a.main-sernews__list-more:hover {
    color: #7298d6;
    border-bottom: 1px solid #7298d6
}

.main-layout2 {
    width: 1000px;
    margin: 0 auto;
    *zoom: 1
}

.main-layout2:after {
    clear: both;
    content: "";
    display: table
}

.main-layout2-wrap {
    padding: 40px 0;
    border-bottom: 1px solid #373737
}

.main-pqueries__title {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url(https://service.garena.tw/img/hotqes-title.png);
    width: 182px;
    height: 36px;
    margin: 0 0 13px
}

.main-pqueries__content {
    *zoom: 1
}

.main-pqueries__content:after {
    clear: both;
    content: "";
    display: table
}

.main-pqueries__list {
    width: 288px;
    background: #373737;
    float: left;
    padding: 20px;
    margin: 0 5px 0 0
}

.main-pqueries__list-title {
    font: 17px/1.6 arial, 'Microsoft JhengHei';
    color: #00BFFF;
    margin: 0 0 5px
}

.main-pqueries__list-content a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    background: url(../Img/itemdot.png) 7px 50% no-repeat;
    padding: 0 0 0 22px;
    color: #afafaf;
    font: 15px/1.6 arial, 'Microsoft JhengHei';
    letter-spacing: 1px
}

.main-pqueries__list-content a:hover {
    color: #7298d6
}
