@charset "utf-8";

body{
	background-color: #1b1b1b;
	box-sizing: border-box;
}

.bg{
	width: 100%;
	margin-left: 0px;
	z-index: -1;
}

.head {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin:0;
	height: 60px;
	--background-color: #fff;
	background-color: #1b1b1b;
	max-width:100%;
	box-sizing: border-box;
	display: flex;
	
}

.foot{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	--background-color: #fff;
	background-color: #1b1b1b;
	max-width: 100%;
	height: 60px;
	box-sizing: border-box;
	display: flex;
}
/*header interface*/
.logo{
	margin-left: 100%;
	height: 60px;
}

ul{
	padding: 0;
	list-style: none;
	margin: 0;
}

/*第一層ul*/
ul.drop-down-menu {
	border: #ccc 0px solid;
	font-size: 14px;
	margin-left:45%;
}

ul.drop-down-menu li{
	float:left;
	position: relative;
	margin-top: 20px;
}

ul.drop-down-menu li:hover > ul {
	display:block;		/*顯示次選單*/
}

ul.drop-down-menu > li:last-child{
	clear:left;
	padding: 0;
}
/*第一層ul*/

/*第二層ul  (平台)*/
/*所有第二層內的ul皆會共用這裡的css*/
ul.drop-down-menu ul{
	position: absolute;
	z-index: 99;
	left: 0px;
	top: 40px;
	width: 150%;
	display: none;		/*隱藏次選單*/
}

ul.drop-down-menu a{
	text-decoration: none;
	color: #ccc;
	padding: 20px 25px;
	background-color: #262626;
}

ul.drop-down-menu ul > li{
	margin-bottom:18px;
}

ul.drop-down-menu ul > li > a {
	padding: 20px;
	background-color: #151515;
}

ul.drop-down-menu ul > li > a:hover {
	background-color: #262626;
}

ul.drop-down-menu a:hover {		/*滑鼠滑入按鈕變色*/
	background-color: #151515;
}

ul.drop-down-menu li:hover > a{ /*滑鼠進入次按鈕保持主按鈕變色*/
	background-color: #151515;
}
/*所有第二層內的ul皆會共用這裡的css*/
/*第二層 (平台)*/

/*第二層 (遊戲)*/
/*ul線上遊戲*/
ul.drop-down-menu ul.desktop-menu-drop {
	--display: block;
	background-color: #1b1b1b;
	width: 101%;
	border: #444 1px solid;
}

ul.drop-down-menu ul.desktop-menu-drop > p{
	border: #444 1px solid;
	padding: 20px 5px 20px 10px;
	margin: 0;
	width: 100%;
	color: #fff;
	background-color: #1b1b1b;
	box-sizing: border-box;
}

ul.drop-down-menu ul.desktop-menu-drop > li > a {
	padding: 20px 20px;
}
/*ul線上遊戲*/

/*ul手機遊戲*/
ul.drop-down-menu ul.tablet-menu-drop{
	border: #444 1px solid;
	width: 101%;
	--display:block;
	left: 100%;
}

ul.drop-down-menu ul.tablet-menu-drop > p{
	border: #444 1px solid;
	padding: 20px 10px;
	margin: 0;
	width: 75px;
	color: #fff;
	background-color: #1b1b1b;
}

ul.drop-down-menu ul.tablet-menu-drop > li > a {
	padding:20px 20px;
}
/*ul手機遊戲*/
/*第二層 (遊戲)*/
/*header interface*/

/*footer interface*/
/*footer的ul*/
ul.drop-down-menu2{
	border: #ccc 0px solid;
	--display: inline-block;
	font-size: 14px;
	margin-left: 7%;
}

ul.drop-down-menu2 li{
	background-color: 1b1b1b;
	box-sizing: border-box;
}

ul.drop-down-menu2 > li:last-child{
	padding: 0;
}

ul.drop-down-menu2 a, .liSelect{
	text-decoration: none;
	color: #ccc;
	display: inline-block;
	padding: 20px 20px;
}

ul.drop-down-menu2 a:hover{
	color: #999;
}
/*footer的ul*/

#footText{
	margin-left: 12%;
	line-height: 40px;
	font-size: 10px;
	text-align: center-left;
	color: #ccc;
}

.language{
	background-color: #1b1b1b;
	color: #fff;
	margin: auto 0;
	margin-left: 10px;
	height: 25px;
	width: 200px;
}

/*footer interface*/

/*propaganda*/
.textbg{
	position: absolute;
	top: 275px;
	left: 200px;
}

.propaganda{
	position: absolute;
	top: 350px;
	left: 275px;
	color: #fff;
}

.gameName{
	font-size: 50px;
	line-height: 0px;
}

.gamePropaganda{
	margin-top: -10px;
	font-size: 22px;
	color: #aaa;
}

.gotoGame{
	text-decoration: none;
	padding: 5px 5px 5px 10px;
	border:#B62D2D 1px solid;
	background-color:#222;
	font-size: 25px;
	color: red;
	font-size: lighter;
	box-sizing: border-box;
}

div.propaganda a:hover{
	background-color: #000;
}
/*propaganda*/







body {
    margin: 0;
}


.header,
.footer,
.header *,
.footer * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    font-family: "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    background: rgba(30, 30, 30, 0.9);
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

.gmenu-container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.menu > ul .subarrow span {
    background-image: url("img/submenuarrow.png");
    background-repeat: no-repeat;
    background-position: 8px 6px;
    -moz-background-size: 17px 12px;
    -webkit-background-size: 17px 12px;
    background-size: 17px 12px;
    height: 17px;
    width: 25px;
    display: inline-block;
}

#bt-des {
    display: block;
}

.sbmleft > ul {
    margin-left: -80px!important;
}

.menu .menu-logo > img {
    height: 44px;
    margin-top: 5px;
    margin-left: 5px;
    width: auto;
}


.menu > ul {
    margin: 0;
    width: auto;
    list-style: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    float: right;
    z-index: 30;
}

.menu > ul > li {
    float: left;
    background: #262626;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 0px solid #333;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 0.96em 1.9em;
    display: block;
    color: #aeaeae;
    height: 56px;
}

.menu > ul > li a:first-child:hover {
    color: #b2b2b2;
}

.menu > ul > li a:hover {
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu > ul > li:hover {
    background: #1b1616;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu > ul > li > ul {
    display: none;
    width: 365px;
    background: rgba(28, 23, 23, 0.95);
    border: 1px #3a3636 solid;
    border-top: none;
    padding: 0px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}


.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 50%;
    background: none;
    float: left;
    box-sizing: border-box;
}

.menu > ul > li > ul > li a {
    color: #b2b2b2;
    padding: 0.92em 1em;
    display: block;
    border-bottom: 1px solid #2c2929;
    text-align: center;
    margin-left: 0px;
}
.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 0px 0 0;
    list-style: none;
    box-sizing: border-box;
    height: 100%;
}


.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 0px 0;
    margin: 0;
    font-size: 16px;
}


.menu > ul > li > ul.normal-sub {
    width: 220px;
    left: auto;
    padding: 0px 0px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
    border-bottom: 1px solid #2c2929;
}

.menu > ul > li > ul.normal-sub > li:hover {
    background-color: #242424;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.menu > ul > li:last-child > ul.normal-sub > li a {
    text-align: left;
    padding: 0.75em 2.7em;
    line-height: 32px;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 1em;
    text-align: center;
}

.menu > ul > li a .menudlicon01 {
    background-image: url("img/menupc.png");
    background-repeat: no-repeat;
    background-position: -3px 1px;
    -moz-background-size: 24px 17px;
    -webkit-background-size: 24px 17px;
    background-size: 24px 17px;
    height: 20px;
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}

.menu > ul > li a .menudlicon02 {
    background-image: url("img/menuphone.png");
    background-repeat: no-repeat;
    background-position: -5px 1px;
    -moz-background-size: 28px 20px;
    -webkit-background-size: 28px 20px;
    background-size: 28px 20px;
    height: 20px;
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}

.menu > ul > li > ul > .second-sub {
    border-left: 1px solid #2a2a2a;
    min-height: 392px;
}

.menu > ul > li > ul > li a.menu-spec {
    text-align: left;
    padding: 1em 2.5em;
    width: auto;
    background-color: #1d1d1d;
    cursor: default;
}


.show {
    display: block!important;
}

@media only screen and (min-width: 760px) {
    .menu > ul > li:hover ul {
        display: block;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1170px) {
    .gmenu-container {
        width: 100%;
    }
}

@media only screen and (max-width: 1370px) {
    .gmenu-container {
        width: 100%;
    }
    .menu .menu-logo {
        display: none;
    }
    .sbmleft > ul {
        margin-left: 0!important;
    }
    .menu > a {
        color: #9d9d9d;
    }
    .menu > ul {
        display: none;
        width: 100%;
    }
    .menu > ul > li.active {
        background-color: rgba(157, 29, 29, 0.89)!important;
    }
    .menu > ul > li {
        width: 100%;
        float: initial;
        display: block;
        border-bottom: 1px solid #333;
    }
    .menu > ul > li:hover {
        background: #262626;
    }
    .menu > ul > li a {
        padding: 1.1em 5%;
        width: 100%;
        display: block;
    }
    .menu > ul > .menu-icon > a {
        background-image: url("img/arrowbtm.png");
        background-repeat: no-repeat;
        background-position: 95% center;
        -moz-background-size: 15px 10px;
        -webkit-background-size: 15px 10px;
        background-size: 15px 10px;
    }
    .menu > ul > li > ul {
        position: relative;
        width: 100%;
        border-left: none;
        border-right: none;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul.normal-sub > li {
        border-bottom: 1px solid #383838;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        background: rgb(0, 0, 0);
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu > ul .subarrow span {
        display: none;
    }

    .menu > ul > li > ul > li > a {
        border-bottom: 1px solid #3a3a3a;
        border-top: 1px solid #3a3a3a;
        background-color: #171717;
    }
    .menu > ul > li > ul > li a {
        width: auto;
        margin-left: 0px;
    }
    .menu > ul > li > ul > li > ul > li a {
        text-align: center;
        padding: 0.92em 0em 0.92em 0em;
    }
    .menu > ul > li > ul > li > ul > li a:hover {
        background-color: #242424;
    }
    .menu > ul > li > ul > li a.menu-spec {
        text-align: center;
    }
}
