body {
    margin: 0;
}

.header,
.footer,
.header *,
.footer * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    font-family: "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    background: rgba(30, 30, 30, 0.9);
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

.gmenu-container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}


.menu > ul .subarrow span {
    background-image: url("../Img/submenuarrow.png");
    background-repeat: no-repeat;
    background-position: 8px 6px;
    -moz-background-size: 17px 12px;
    -webkit-background-size: 17px 12px;
    background-size: 17px 12px;
    height: 17px;
    width: 25px;
    display: inline-block;
}

.menu .menu-logo > img{
    height: 44px;
    margin-top: 5px;
    margin-left: 5px;
    width: auto;
}

.menu > ul {
    margin: 0;
    width: auto;
    list-style: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    float: right;
    z-index: 30;
}

.menu > ul > li {
    float: left;
    background: #262626;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 0px solid #333;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 0.96em 1.9em;
    display: block;
    color: #aeaeae;
    height: 56px;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 0.96em 1.9em;
    display: block;
    color: #aeaeae;
    height: 56px;
}

.menu > ul > li a:first-child:hover {
    color: #b2b2b2;
}

.menu > ul > li a:hover {
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu > ul > li:hover {
    background: #1b1616;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu > ul > li > ul {
    display: none;
    width: 365px;
    background: rgba(28, 23, 23, 0.95);
    border: 1px #3a3636 solid;
    border-top: none;
    padding: 0px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}


.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 50%;
    background: none;
    float: left;
    box-sizing: border-box;
}

.menu > ul > li > ul > li a {
    color: #b2b2b2;
    padding: 0.92em 1em;
    display: block;
    border-bottom: 1px solid #2c2929;
    text-align: center;
    margin-left: 0px;
}
.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 0px 0 0;
    list-style: none;
    box-sizing: border-box;
    height: 100%;
}


.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 0px 0;
    margin: 0;
    font-size: 16px;
}


.menu > ul > li > ul.normal-sub {
    width: 220px;
    left: auto;
    padding: 0px 0px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
    border-bottom: 1px solid #2c2929;
}

.menu > ul > li > ul.normal-sub > li:hover {
    background-color: #242424;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.menu > ul > li:last-child > ul.normal-sub > li a {
    text-align: left;
    padding: 0.75em 2.7em;
    line-height: 32px;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 1em;
    text-align: center;
}

.menu > ul > li a .menudlicon01 {
    background-image: url("../Img/menupc.png");
    background-repeat: no-repeat;
    background-position: -3px 1px;
    -moz-background-size: 24px 17px;
    -webkit-background-size: 24px 17px;
    background-size: 24px 17px;
    height: 20px;
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}

.menu > ul > li a .menudlicon02 {
    background-image: url("../Img/menuphone.png");
    background-repeat: no-repeat;
    background-position: -5px 1px;
    -moz-background-size: 28px 20px;
    -webkit-background-size: 28px 20px;
    background-size: 28px 20px;
    height: 20px;
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}

.menu > ul > li > ul > .second-sub {
    border-left: 1px solid #2a2a2a;
    min-height: 392px;
}

.menu > ul > li > ul > li a.menu-spec {
    text-align: left;
    padding: 1em 2.5em;
    width: auto;
    background-color: #1d1d1d;
    cursor: default;
}


.show {
    display: block!important;
}

@media only screen and (min-width: 760px) {
    .menu > ul > li:hover ul {
        display: block;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1170px) {
    .gmenu-container {
        width: 100%;
    }
}

@media only screen and (max-width: 1370px) {
    .gmenu-container {
        width: 100%;
    }
    .menu .menu-logo {
        display: none;
    }
    .sbmleft > ul {
        margin-left: 0!important;
    }
    .menu > a {
        color: #9d9d9d;
    }
    .menu > ul {
        display: none;
        width: 100%;
    }
    .menu > ul > li.active {
        background-color: rgba(157, 29, 29, 0.89)!important;
    }
    .menu > ul > li {
        width: 100%;
        float: initial;
        display: block;
        border-bottom: 1px solid #333;
    }
    .menu > ul > li:hover {
        background: #262626;
    }
    .menu > ul > li a {
        padding: 1.1em 5%;
        width: 100%;
        display: block;
    }
    .menu > ul > .menu-icon > a {
        background-image: url("../Img/arrowbtm.png");
        background-repeat: no-repeat;
        background-position: 95% center;
        -moz-background-size: 15px 10px;
        -webkit-background-size: 15px 10px;
        background-size: 15px 10px;
    }
    .menu > ul > li > ul {
        position: relative;
        width: 100%;
        border-left: none;
        border-right: none;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul.normal-sub > li {
        border-bottom: 1px solid #383838;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        background: rgb(0, 0, 0);
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu > ul .subarrow span {
        display: none;
    }

    .menu > ul > li > ul > li > a {
        border-bottom: 1px solid #3a3a3a;
        border-top: 1px solid #3a3a3a;
        background-color: #171717;
    }
    .menu > ul > li > ul > li a {
        width: auto;
        margin-left: 0px;
    }
    .menu > ul > li > ul > li > ul > li a {
        text-align: center;
        padding: 0.92em 0em 0.92em 0em;
    }
    .menu > ul > li > ul > li > ul > li a:hover {
        background-color: #242424;
    }
    .menu > ul > li > ul > li a.menu-spec {
        text-align: center;
    }
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav{
    width: 100%;
    height: 200px;
    padding-top: 50px;
    background-color: teal;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.nav ul li a{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:floralwhite;
    text-decoration: none;
    text-align: center;
    align-items: center;
}
.nav ul li{
    float: left;
    height: 90px;
    padding: 60px 80px;
    position: relative;
   
}

.nav > ul > li > a:hover{
    color: #0033FF;
}

.nav ul li:hover .outmenu{
    display: block;
}

.nav ul li .outmenu{
    padding: 10px ;
    position: absolute;
    background-color:rgb(85, 185, 185);
    height: 350px;
    width: 100px;
    display: none;
    z-index: 9999;
}

.nav > ul > li  > .outmenu2{
    padding: 10px ;
    position: absolute;
    background-color:rgb(85, 185, 185);
    height: 250px;
    width: 150px;
    display: none;
    z-index: 9999;
}

.nav ul li:hover .outmenu2{
    display: block;
}

.nav > ul > li > .outmenu3{
    padding: 10px ;
    position: absolute;
    background-color:rgb(85, 185, 185);
    height: 260px;
    width: 150px;
    display: none;
    z-index: 9999;
}

.nav ul li:hover .outmenu3{
    display: block;
}

.nav ul li ol li{
    float: none;
    line-height: 20px;
    padding: 0px 5px;
}

.nav > ul > li > ol > li > a{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:floralwhite;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.nav > ul > li > ol > li > a:hover{
    color: #0033FF;
}

.home_flex{ 
    width: 1887px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0px;
    left: 0px;
}

.carousel .carousel-item img {
    min-height: 300px;
    max-height: 630px;
    object-fit: cover;
  }
.logo{
    padding-left: 200px;
}

.nav .lol-logo > img{
    padding-top: 20px;
}

.menu_position a{
    text-decoration: none;
    color: blue;
}

.menu_position{
    padding-right: 250px;
}

.bg{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: rgb(22, 22, 22);
}


.layout{
    width: 100%;
    height: 500px;
    background-color: #1d1d1d;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.photo {
    border: white 3px solid;
    margin-top: 90px;
    height: 300px;
    width: 395px;
    position: relative;    
}

.photo > a{
    text-decoration: none;
    font-size: 23px;
    margin-top: 40px;
    color: white;
    text-align: center;
}

.footer{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: grey;
    position: relative;
    top: 0px;
    left: 0px;
    justify-content: space-around;
}

.copyright{
    position: relative;
    top: 1px;
    left: 50px;
    font-size: 16;
}

.copyright > p{
    padding-top: 20px;
}

.restricted{
    padding-top: 7px;

}

.grade{
    position: relative;
    top: -8px;
}

.grade > p{
    padding-top: 10px;
}

.fb_logo{
    padding-top: 5px;
    
}