@charset "utf-8";
ul, ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav{
    width: 1462px;
    height: 90px;
    background-color: teal;
    display: flex;
    text-align: center;
}

.nav ul li a{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:floralwhite;
    text-decoration: none;
    text-align: center;
    align-items: center;
}
.nav ul li{
    float: left;
    height: 90px;
    padding: 35px 60px;
    position: relative;
   
}

.nav ul li:hover .outmenu{
    display: block;
}

.nav ul li .outmenu{
    padding: 10px;
    position: absolute;
    background-color:#1b1818;
    height: 300px;
    width: 100px;
    display: none;
}

.nav ul li ol li{
    float: none;
    line-height: 20px;
    padding: 0px 5px;
}

.home_flex{ 
    width: 1887px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0px;
    left: 0px;
}

.logo{
    padding-left: 200px;
}

.menu_position a{
    text-decoration: none;
    color: blue;
}

.menu_position{
    padding-right: 250px;
}

.bg{
    width: 1887px;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: rgb(22, 22, 22);
}

.new_photo a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    width: 300px;
}

.new_photo{
    border: white 3px solid;
    height: 194px;
    width: 800px;
    margin-top: 150px;
    margin-left: 200px;
    display: flex;
    align-items: center;
}
.photo{
    padding-left: 488px;
}
.platform_box{
    text-decoration: none;
}

.game_box{
    display: flex;
}

.flex_display{
    width: max-content;
    height: 40px;
    background-color: white;
}

.menu{
    width: max-content;
    height: 90px;
    background-color: teal;
    display: flex;
}

.lol{
    padding-left: 180px;
}

.footer{
    display: flex;
    width: 1887px;
    height: 60px;
    background-color: grey;
    position: relative;
    top: 0px;
    left: 0px;
}

.r_logo{
    padding-left: 160px;
    
}

.c_logo{
    padding-left: 40px;
}

.copyright{
    position: relative;
    top: 1px;
    left: 50px;
    font-size: 16;
}

.restricted{
    padding-top: 7px;
    padding-left: 220px;
}

.grade{
    position: relative;
    top: -8px;
    left: 30px;
}

.fb_logo{
    padding-top: 5px;
    padding-left: 80px;
}

.cry_rock a{
    text-decoration: none;
    color: white;
    font-size: 30px;

}
.cry_rock{
    border: white 3px solid;
    height: 540px;
    width: 705px;
    display: flex;
    margin-left: 1100px;
    margin-top: -550px;
}
.rock_photo{
    padding-top: 460px;
    padding-left: 50px;
}

.home_flex{
    background-color: teal;
}